.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .albums {
    display: flex;
    flex-direction: row;
    gap: 1.75rem;
    .album {
      cursor: pointer;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      width: 15rem;
      height: 15rem;
      transition: all 250ms ease;
      &:hover {
        box-shadow: 0 1rem 2rem #0002;
      }
      span {
        padding: 1rem;
        font-size: 1.1rem;
      }
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}
